.col{
    border-color: rgb(214, 214, 214);
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    height : 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-color: aqua;
    border-style : dashed; */
}
.col:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.3s ease-in-out;
    transition-timing-function: linear;
    /* height: 100px; */
}